:root {
  font-size: 20px;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90vw; */
}
p {
  font-size: .75em;
}
.container {
  /* border: 2px solid blue; */
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  font-size: 1.5em;
  background: linear-gradient(to right, rgb(255, 196, 0), rgb(255, 72, 0));
  transition-timing-function: cubic-bezier(1, .75, .5, 1.5);
  transition-duration: 0.5s;
  cursor: pointer;
  /* margin: 10px; */
  height: 97vh;
  width: 100%;
}
.underlay {
  color: white;
  font-size: 1em;
  transition-timing-function: cubic-bezier(1, .75, .5, 1.5);
  text-align: center;
  width: 100%;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20px;
  color: white;
  background-color: rgba(70, 63, 55, 1);
  font-size: 1em;
  height: 97vh;
  width: calc(50% - 7px);
  transition-timing-function: cubic-bezier(1, .75, .5, 1.5);
  transition-duration: 0.65s;
  z-index: 10;
}
.signInOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signUpOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  border: 1px solid white;
  border-radius: 1em;
  text-align: center;
  /* width: 5em; */
  padding: .3em .5em;
}
.btn:hover {
  background-color: rgb(148, 133, 115);
}
.isVisible {
  display: flex;
}
.notVisible {
  display: none;
}
.slide {
  transform: translateX(100%) /*rotate(360deg)*/;
  transition-timing-function: cubic-bezier(1, .75, .5, 1.5);
  transition-duration: 0.65s;
}